/*
Tekst- en randkleur: #B36A5E
Badge-kleur: #EED7C5
 */

body {
    color: #B36A5e;
}

.pet-badge {
    display: inline-block;
    background-color: #EED7C5;
}

.pet-photo {
    border: 8px solid #B36A5e;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
}